/* ----- Popup ----- */
.youtube-cookies-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  bottom: 0;
}
.youtube-cookies-popup-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}
.youtube-cookies-popup-box-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* ----- Thumbnails ----- */
.youtube-cookies__iframe-container,
.youtube-cookies__iframe-container div.youtube-cookies__iframe--iframe-field {
  position: relative;
}
.youtube-cookies__iframe[data-yc-iframe-processed="1"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.youtube-cookies__thumbnail {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: block;
}
/*.youtube-cookies__thumbnail__picture {}*/
.youtube-cookies__thumbnail__picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.youtube_cookies__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
