:root {
  --youtube-cookies-color-primary: #2d5eb5;
  --youtube-cookies-color-secondary: white;
  --youtube-cookies-popup-overlay-bg: rgba(0,0,0,0.5);
  --youtube-cookies-popup-bg: var(--youtube-cookies-color-secondary);
  --youtube-cookies-popup-max-width: 1066px;
  --youtube-cookies-popup-spacing: 30px;
  --youtube-cookies-popup-buttons-gap: 2em;
  --youtube-cookies-button-padding: .7em 1em;
  --youtube-cookies-button-border: solid 2px;
  --youtube-cookies-button-border-radius: 3em;
  --youtube-cookies-button-font-weight: bold;
  --youtube-cookies-button-bg: var(--youtube-cookies-color-secondary);
  --youtube-cookies-button-color: var(--youtube-cookies-color-primary);
  --youtube-cookies-button-border-color: var(--youtube-cookies-button-bg);
  --youtube-cookies-thumbnail-aspect-ratio: 16/9;
  --youtube-cookies-thumbnail-icon-size: 60px;
  --youtube-cookies-thumbnail-icon-fill: black;
  --youtube-cookies-thumbnail-icon-opacity: .8;
  --youtube-cookies-thumbnail-icon-hover-fill: red;
  --youtube-cookies-thumbnail-icon-hover-opacity: 1;
}

/* ----- Popup ----- */
.youtube-cookies-popup {
  background: var(--youtube-cookies-popup-overlay-bg);
}
.youtube-cookies-popup-box {
  max-width: var(--youtube-cookies-popup-max-width);
  padding: var(--youtube-cookies-popup-spacing);
}
.youtube-cookies-popup-box-info {
  background-color: var(--youtube-cookies-popup-bg);
  padding: var(--youtube-cookies-popup-spacing);
}
.youtube-cookies-popup-message {
  margin-bottom: calc(var(--youtube-cookies-popup-spacing) / 2);
}
.youtube-cookies-popup-box-buttons {
  gap: calc(var(--youtube-cookies-popup-buttons-gap) / 2) var(--youtube-cookies-popup-buttons-gap);
}

/* ----- Buttons ----- */
.youtube-cookies-button {
  cursor: pointer;
  padding: var(--youtube-cookies-button-padding);
  border: var(--youtube-cookies-button-border);
  border-color: var(--youtube-cookies-button-border-color);
  border-radius: var(--youtube-cookies-button-border-radius);
  background-color: var(--youtube-cookies-button-bg);
  color: var(--youtube-cookies-button-color);
  font-weight: var(--youtube-cookies-button-font-weight);
}
.youtube-cookies-button:hover {
  --youtube-cookies-button-bg: var(--youtube-cookies-color-primary);
  --youtube-cookies-button-color: var(--youtube-cookies-color-secondary);
}
.youtube-cookies-button--manage {
  --youtube-cookies-button-bg: var(--youtube-cookies-color-primary);
  --youtube-cookies-button-color: var(--youtube-cookies-color-secondary);
}
.youtube-cookies-button--manage:hover {
  --youtube-cookies-button-bg: var(--youtube-cookies-color-secondary);
  --youtube-cookies-button-color: var(--youtube-cookies-color-primary);
}
/*.youtube-cookies-button--accept {}*/
/*.youtube-cookies-button--reject {}*/


/* ----- Thumbnails ----- */
.youtube-cookies__iframe-container div.youtube-cookies__iframe--iframe-field,
.youtube-cookies__iframe-container:not(.youtube-cookies__iframe--iframe-field) {
  aspect-ratio: var(--youtube-cookies-thumbnail-aspect-ratio);
}
.youtube-cookies__thumbnail {
  padding: 0;
  margin: 0;
  border: none;
}
.youtube-cookies__thumbnail:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}
.youtube-cookies__thumbnail:hover {
  cursor: pointer;
}
.youtube_cookies__play-icon {
  width: var(--youtube-cookies-thumbnail-icon-size);
}
.youtube_cookies__play-icon__fill {
  fill: var(--youtube-cookies-thumbnail-icon-fill);
  fill-opacity: var(--youtube-cookies-thumbnail-icon-opacity);
}
.youtube-cookies__thumbnail:hover .youtube_cookies__play-icon__fill {
  fill: var(--youtube-cookies-thumbnail-icon-hover-fill);
  fill-opacity: var(--youtube-cookies-thumbnail-icon-hover-opacity);
}

